.small-sensor-card {
    background-color: var(--bgAccent2);
    flex: 1;
    width: 98px;
    padding: 28px 16px;
    border-radius: 18px;
}

.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.icon {
    color: var(--bgAccent2);
    font-size: 24px;
}

.small-sensor-card h3 {
    margin-top: 22px;
    margin-bottom: 12px;
    white-space: nowrap;
}