:root {
  --bg: #FFF;
  --dark-bg: #000;
  --bgAccent1: #F5F5F5;
  --dark-bgAccent1: #0F0F0F;
  --bgAccent2: #FAFAFA;
  --dark-bgAccent2: #181818;
  --text: #000;
  --dark-text: #FEFEFE;
  --subleText: #909090;
  --dark-subtleText: #4A4A4A;
  --scarlet: #BB0000;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.dark-mode {
  --bg: var(--dark-bg);
  --bgAccent1: var(--dark-bgAccent1);
  --bgAccent2: var(--dark-bgAccent2);
  --text: var(--dark-text);
  --subtleText: var(--dark-subtleText);
}

h1, h2, h3 {
  color: var(--text);
  margin: 0;
}

h4, h5, p {
  color: var(--subleText);
  margin: 0;
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 14px;
  font-weight: 400;
}